<launch>
  <arg name="cheetah_namespace" default="cheetah" />
  <param name="use_sim_time" value="true" />

  <arg name="bagfile"                  default="/home/rayzhang/data/mair.bag" />  
  <arg name="start_time" 		 default="0" /> 
  
  <!-- Run cheetah kinematics publisher -->
  <node name="kinematics_publisher_node" pkg="cheetah_inekf_ros" type="kinematic_publisher_node">
    <param name="joint_state_topic" value="joint_states"/>
    <param name="kinematics_topic" value="kinematics"/>
    <param name="imu_frame_id" value="imu">
      <param name="encoder_std" value="0.0174533"/>
      <param name="kinematic_prior_orientation_std" value="0.03"/>
      <param name="kinematic_prior_position_std" value="0.03"/>
    </node>

    <!-- Run Invariant EKF -->
    <node name="inekf" pkg="inekf_ros" type="inekf_node" output="screen">
      <rosparam file="$(find cheetah_inekf_ros)/config/inekf/settings.yaml" command="load" />
      <rosparam file="$(find cheetah_inekf_ros)/config/inekf/noise.yaml" command="load" />
      <rosparam file="$(find cheetah_inekf_ros)/config/inekf/prior.yaml" command="load" />
    </node>

    <node name="path_publisher" pkg="cheetah_inekf_ros" type="path_publisher_node">
      <param name="pose_topic" value="/cheetah/pose"/>
      <param name="path_topic" value="/cheetah/path"/>
      <param name="publish_rate" value="1"/>
      <param name="pose_skip" value="100"/>
    </node>

    
   <!-- Play Bagfile -->
    <node pkg="rosbag" type="play" name="player" output="screen" args="-q -r 1 -s $(arg start_time) -l --clock $(arg bagfile)">
    </node>



    
  </launch>
