
<launch>
	<!-- Input Arguments -->
	<arg name="cheetah_namespace" 		default="cheetah" />
    <!-- Use simulation time -->


    <node name="lcm_publisher_node" pkg="cheetah_inekf_ros" type="lcm_publisher_node" >
        <param name="joint_state_lcm_topic" value="joint_states"/>
        <param name="contact_topic" value="contact"/>
        <param name="imu_lcm_topic" value="imu"/>
        <param name="encoder_std" value="0.0174533"/>
        <param name="kinematic_prior_orientation_std" value="0.03"/>
        <param name="kinematic_prior_position_std" value="0.03"/>
    </node>

      <!-- Run Invariant EKF -->
    <node name="inekf" pkg="inekf_ros" type="inekf_node" output="screen">
        <rosparam file="$(find cheetah_inekf_ros)/config/inekf/settings.yaml" command="load" />
        <rosparam file="$(find cheetah_inekf_ros)/config/inekf/noise.yaml" command="load" />
        <rosparam file="$(find cheetah_inekf_ros)/config/inekf/prior.yaml" command="load" />
    </node> 

    <!-- Run odom path publisher -->

<node name="path_publisher" pkg="cheetah_inekf_ros" type="path_publisher_node" output="screen">
        <param name="pose_topic" value="/cheetah/pose"/>
        <param name="path_topic" value="/cheetah/path"/>
        <param name="publish_rate" value="1"/>
        <param name="pose_skip" value="100"/>
    </node> 

<!-- Play ground truth-->
    <!-- <node name="groundtruth_pose_publisher" pkg="cheetah_inekf_ros" type="pose_publisher_node">
      <param name="pose_topic" value="/cheetah/groundtruth/pose"/>
      <param name="pose_frame" value="/odom"/>
      <param name="pose_csv_file" value="/media/curly_ssd_justin/code/minicheetah-perception/catkin_ws/src/cheetah_inekf_ros/data/08292020_trial1_groundtruth.csv"/>
      <param name="publish_rate" value="1"/>
      <param name="pose_skip" value="100"/>
    </node>

    <node name="ground_truth_path_publisher" pkg="cheetah_inekf_ros" type="path_publisher_node">
      <param name="pose_topic" value="/cheetah/groundtruth/pose"/>
      <param name="path_topic" value="/cheetah/groundtruth/path"/>
      <param name="publish_rate" value="1"/>
      <param name="pose_skip" value="100"/>
    </node> -->


</launch>
